.tooltip-wrapper {
  position: relative;
  display: inline-block;
}

.tooltip-trigger {
  cursor: pointer;
}

.tooltip-content {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  z-index: 1000;
  white-space: nowrap;
  transition: opacity 0.3s ease;
}

/* Positioning done based on the position prop */
.tooltip-content.top {
  /* Position above the element */
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-content.bottom {
  /* Positon below the element */
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-content.left {
  /* Position left of the element */
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
}

.tooltip-content.right {
  /* Position right of the element */
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
}

.tooltip-close-btn {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}

.tooltip-close-btn:hover {
  color: rgba(255, 255, 255, 0.8);
}
