* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.app {
  padding: 20px;
  background-color: #dee1ec;
  min-height: 100vh;
}

.app-heading {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2em;
  color: #1e6262;
}

.content-row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tooltip-btn {
  margin: 10px;
  display: inline-block;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  background-color: #1e6262;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #dee1ec;
  width: 150px;
  cursor: pointer;
}
